.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/.DS_Store
**/.git
**/.gitignore
**/Thumbs.db
**/README_BETA.md
**/TEST_FILES.md
**/Run.md
**/test_*
**/Demonstration/**
**/test/**
**/*.aux
**/*.log
**/*.out
**/*.class
**/dabbh.github.io/**
**/*.vsix
**/file-icons.json
